.container-home {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.mainpage-h1 {
    background-color: #1e1f21;
    color: white;
    border-radius: 20px;
    margin-left: 8%;
    margin-right: 8%;
}