*   {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Lucia Grande" , monospace;
    background: linear-gradient(180deg, #c0c4c2, #369cb3);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
    
h1 {
    font-size: 2rem; /* Adjust the font size as needed */
    font-weight: bold;
    color: #333; /* Text color */
    text-align: center;
    text-transform: uppercase; /* Convert text to uppercase */
    letter-spacing: 2px; /* Adjust letter spacing for style */
    margin-bottom: 2%; /* Add some space below the heading */
    /* Add any additional styles or background colors as desired */
}

.paragraph-content {
    font-family: "Lucia Grande" , monospace;
    font-size: 1.75rem;
    color:aqua
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrap {
    flex:1;
}

.container {
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 2%;
}