*   {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Lucia Grande" , monospace;
    background: linear-gradient(180deg, #c0c4c2, #369cb3);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
    
h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 2%;
}

.paragraph-content {
    font-family: "Lucia Grande" , monospace;
    font-size: 1.75rem;
    color:aqua
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrap {
    flex:1;
}

.container {
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 2%;
}

.container-cenik {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e6e8eb;
    padding: 15px 15px 15px 15px;
    border-radius: 15px; 
    margin-right: 20%;
    margin-left: 20%;
}