.animated-image {
    opacity: 0;
    width: 65%;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 1s ease-in-out forwards; ;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}